/* Mobile styles for max 768px */
@media screen and (min-width: 375px) and (max-width: 767px) {
    /* Your mobile styles go here */




    /* Vegetables */


    #vegetables {
        font-size: 14px;
    }
    .vegetables-container {
        display: flex;
        flex-direction: column;
        background-color: var(--bg2-color);
        padding: 80px 20px;
    }
    .vegetables-cards-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        max-width: 1080px;
    }
    .vegetables-cards-list-item {
        background-color: #fbfbfb;
        border-radius: 40px;
        padding: 32px 26px;
    }
    .vegetables-h {
        font-size: 48px;
        line-height: 50px;
    }
    .vegetables-p {
        font-size: 14px;
        line-height: 18px;
    }

    
    
    /* Review section */
    .review-container {
        align-items: flex-start;
        margin: 0 25px;
    }
    .review-title-list {
        gap: 20px;
    }
    .review-cards {
        gap: 25px;
        overflow: hidden;
    }
    .review-description {
        margin-bottom: 40px;
    }
}
/* EOF */
