/* Mobile styles for max 768px */
@media screen and (min-width: 375px) and (max-width: 767px) {
    /* Your mobile styles go here */




    /* Review section */
    .review-container {
        align-items: flex-start;
        margin: 0 25px;
    }
    .review-title-list {
        gap: 20px;
    }
    .review-cards {
        gap: 25px;
        overflow: hidden;
    }
    .review-description {
        margin-bottom: 40px;
    }





}
/* EOF */
