@media screen and (min-width: 1280px) {
    /* Add your CSS rules here */







    /* Review section */
    .review-container {
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;
    }
    .review-title {
        width: 50%;
    }

    .review-description {
        margin-bottom: 50px;
    }
    .review-cards {
        gap: 25px;

    }


    /* Order section */ 
    
}
/* EOF */
