:root {
    --primary-color: #141414;
    --secondary-color: #576f35;

    --brown-color: #bea69e;

    --bg1-color: #576f35;
    --bg2-color: #7a3145;
    --white-color: #fbfbfb;
    --button-bg-color: var(--bg2-color);
    --button-hover-color: #622133;
    --button-hover-color2: var(--white-color);
    --button-text-color: #212121;
    --text-color: var(--white-color);
    --text-hover-color: var(--brown-color);
}

/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Usage */
img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}ul {
    list-style-type: none;
}
body {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
}

/* Hero Section */

/* How It Works */

/* Discount */

/* Veggies */
.vegetables-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg2-color);
    padding: 100px;
    gap: 50px;
}
.vegetables-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    }
.vegetables-h {
    font-weight: 600;
    text-transform: uppercase;
    color: #fbfbfb;
    font-size: 4em;
    line-height: 4rem;
    max-width: 508px;
    }
.vegetables-h-span {
    opacity: 0.3;
    }
.vegetables-p {
    font-weight: 500;
    line-height: 1.5rem;
    color: #fbfbfb;
    max-width: 626px;
    }
.vegetables-cards-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 21px;
    max-width: 1080px;
    justify-content: center;
    }
.vegetables-cards-list-item {
    background-color: #fbfbfb;
    border-radius: 40px;
    padding: 32px;
    }
.vegetables-cards-p {
    display: flex;
    flex-direction: column;
    gap: 12px;
    }
.vegetable-name {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: #7A3145;
    }
.vegetable-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #141414;
    }


/* Reviews */
.review-container {
  background-color: var(--white-color);
  color: var(--primary-color);
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
}
.review-section-title {
  text-transform: uppercase;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -0.015em;
  gap: 25px;

}
.review-title-list {
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.title-color-span {
    color: var(--bg1-color);
    text-transform: uppercase;
}
.review-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  
}

.review-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
    align-items: center;
  background-color: var(--white-color);

}

.review-card-item {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
  border: 1px solid #7A31454D;
    background: #FBFBFB;
  padding: 20px;
  border-radius: 24px;
  opacity: 0px;

  
}
.review-card {
    border-radius: 10px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.review-card-image {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.review-card-customer-name {
  color: var(--primary-color);
  text-transform: capitalize;
}
.review-card-review {
  color: #14141466;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  gap: 20px;
  text-align: center;


}
/* Order */

/* Footer */

/* EOF */
