/* Desktop styles for min 1280px */
@media screen and (min-width: 1280px) {
    /* Add your CSS rules here */







    /* Review section */
    .review-container {
        align-items: flex-start;
        margin: 0 25px;
    }
    .review-title {
        width: 50%;
        margin-top: 100px;
        margin-left: 100px;
    }

    .review-description {
        margin-bottom: 50px;
    }
    .review-cards {
        gap: 25px;
        margin-bottom: 100px;
        margin-left: 100px;

    }


}
/* EOF */
