/* Tablet styles for max 1280px */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    /* Add your table styles here */
    .vegetables-container {
        display: flex;
        flex-direction: column;
        background-color: var(--bg2-color);
        padding: 100px 32px;
    }
    .vegetables-cards-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        max-width: 1080px;
    }
    .vegetables-cards-list-item {
    background-color: #fbfbfb;
    border-radius: 40px;
    padding: 32px 30px;
    }



    /* Review section */
    .review-container {
        align-items: flex-start;
        margin: 0 25px;
    }
    .review-cards {
        gap: 25px;
    }
    .review-description {
        margin-bottom: 50px;
    }


}
/* EOF */