body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 204px;
    height: 158px;
    background-color: #6E2C3E;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: white;
    color: #8D3A50;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #8D3A50;
    color: white;
}


.colors-container {
    display: flex;
    gap: 10px;
    margin-top: 600px;
}

.color-box {
    background-color: white;
    border: 2px solid #00f;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.color-sample {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 8px;
}

.color-code {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.hug-button {
    margin-top: 10px;
    font-size: 12px;
    color: white;
    background-color: #00f;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}